.root {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //border-bottom: 1px solid gray;
  margin: auto;
  z-index: 4; //2
  position: fixed;
  transition: .1s ease-in;
  top: 0;
  border-bottom: 2px solid gray;
}

//hr{
//  width: 93%;
//  border: 1px solid gray;
//  position: relative;
//  top: 103px;
//  height: 1px;
//  z-index: 2;
//  margin: auto;
//}

.header-bg{
  background-color: #1D2025;
}

.mobTelDiv{
  width: 140px;
  height: 35px;
  border-radius: 18px;
  background: #DF4242 0% 0% no-repeat padding-box;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  margin-left: 45px;
}

.mobTelDiv:hover{
  background-color: #42de4c;
}

.textNom{
  text-align: left;
  font: normal normal 300 12px/20px Gilroy Light;
  letter-spacing: 0;
  color: #FFFFFF;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin: 0 10px 0 0;    // tyt
}

.logo {
  //left: 60px;
  width: 155px;
  height: 47px;
  background-origin: border-box;
  background-repeat: no-repeat;
  opacity: 1;
  position: relative;
}

.divLineManu{
  display: flex;
  align-items: center;
  height: 100%;
}

.nomer{
  top: 40px;
  left: 159px;
  width: 124px;
  height: 19px;
  text-align: left;
  font: normal normal normal 14px/20px Averta Demo PE;
  font-family: Averta;
  letter-spacing: 0;
  color: #B2B1B7;
  opacity: 1;
  text-decoration: none;
}

.manu{
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.link{
  text-decoration: none;
  color: white;
}

.humManu{
  z-index: 1;
  width: 20%;
  margin-right: 30px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 100px;
  right: -1px;
  width: 0;
  height: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: black;
  box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
  transition: all .09s ease-out;
}

.menu__item {
  display: flex;
  padding: 12px 24px;
  color: white;
  font-family: Averta;
  font-size: 20px;
  text-decoration: none;
  height: 100px;
  align-items: center;
}

.menu__item2 {
  display: flex;
  padding: 12px 24px;
  text-decoration: none;
  height: 111px;
  align-items: center;
  font: normal normal normal 14px/20px Gilroy Light;
  letter-spacing: 1.12px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.menu__item2:hover {
  color: #42de4c;
  border-bottom: 2px solid #42de4c;
}

.close{
  background-image: url("../image/svg/icons8-close.svg");
  width: 30px;
  position: fixed;
  top: 35px;
  right: 30px;
  height: 30px;
  background-size: cover;
  visibility: hidden;
}

.divContainer{
  backdrop-filter: blur(3px);
  position: absolute;
  width: 0;
  height: 200vh;
  visibility: visible;
  z-index: 3;
}

.divManu{
  background-color: black;
  position: fixed;
  height: 100%;
  width: 0%;
  right: -1px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: visible;
  transition: all .09s ease-out;
}

.divBox{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  visibility: hidden;
}

.spanX{
  z-index: 1;
  position: fixed;
  top: 40px;
  font-size: 25px;
  right: 139px;
  visibility: hidden;
}

.spanX > span::after {
  visibility: visible;
}

.napis{
  margin-left: 95px;
  width: 49px;
  height: 47px;
  text-align: left;
  font: normal normal bold 12px/11px Gilroy Light;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
}

.logoDiv{
  display: flex;
  height: 100%;
  width: 300px;
  padding-top: 30px;
}

// mob

.telDiv{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #B2B1B7;
  padding-top: 4px;
}

.manDiv{
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.man2Div{
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.divManuLang{
  width: 52px;
  text-align: start;
  height: 32%;
}


@media screen and (max-width: 1400px) {
  .menu__item2 {
    padding: 0 15px;
    font: normal normal normal 12px/20px Gilroy Light;
  }
  .root {
    height: 90px;
  }
  hr {
    top: 93px;
  }
  .menu__item2{
    height: 92px;
  }
}

@media screen and (max-width: 1200px) {
  .menu__item2 {
    padding: 0 12px;
    font: normal normal normal 10px/20px Gilroy Light;
  }
  .root {
    height: 70px;
  }
  hr {
    top: 83px;
  }
  .logo {
    width: 100px;
  }
  .logoDiv {
    padding-top: 20px;
  }
  .mobTelDiv {
    margin-right: 40px;
    margin-left: 25px;
  }
  .manu {
    margin-right: 25px;
  }
  .menu__item2{
    height: 71px;
  }
}

@media screen and (max-width: 1000px) {
  .menu__item2 {
    padding: 0 9px;
    font: normal normal normal 9px/20px Gilroy Light;
  }
  .logo {
    width: 87px;
  }
  .napis {
    margin-left: 85px;
  }
  .mobTelDiv {
    width: 120px;
  }
  .textNom {
    text-align: left;
    font: normal normal 300 10px/20px Gilroy Light;
  }
}

@media screen and (max-width: 900px) {
  .menu__item {
    border-top: 1px solid white;
  }
}

@media screen and (max-width: 900px) {
  .menu__item {
    border-top: 1px solid white;
  }
  .root{
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .root{
    width: 100%;
    margin: auto;
    justify-content: space-between;
    border: none;
  }
  //.divManu {
  //  width: 50%;
  //  //left: 0;
  //  right: 0;
  //}
  //.menu__box {
  //  width: 50%;
  //}
  .menu__item {
    border-top: 1px solid white;
  }
}

@media screen and (max-width: 500px) {
  .root{
    width: 100%;
    margin: auto;
    justify-content: space-between;
    height: 70px;
    border: none;
  }
//  .divManu {
//    width: 80%;
//    //left: 0;
//    right: 0;
//  }
//  .menu__box {
//    width: 80%;
//  }
  .menu__item {
    border-top: 1px solid white;
  }
  .logo {
    left: 30px;
    width: 78px;
    height: 27px;
  }
}




//.manuItem{
//  background: white;
//  width: 100%;
//  /* height: 100%; */
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}

//.buttons {
//  button {
//    margin-left: 10px;
//  }
//
//  a {
//    text-decoration: none;
//  }
//}
//
//#menu__toggle {
//  opacity: 0;
//}
///* стилизуем кнопку */
//.menu__btn {
//  display: flex; /* используем flex для центрирования содержимого */
//  //align-items: center;
//  /* центрируем содержимое кнопки */
//  position: relative;
//  top: 0;
//  //top: 20px;
//  //left: 20px;
//  width: 26px;
//  height: 26px;
//  cursor: pointer;
//  z-index: 1;
//}
///* добавляем "гамбургер" */
//.menu__btn > span,
//.menu__btn > span::before,
//.menu__btn > span::after {
//  display: block;
//  position: relative;
//  top: 0;
//  width: 100%;
//  height: 2px;
//  background-color: #616161;
//  z-index: 2;
//  //right: 120px;
//}
//.menu__btn > span::before {
//  content: '';
//  top: -8px;
//}
//.menu__btn > span::after {
//  content: '';
//  top: 8px;
//}

//.menu__item:hover {
//  background-color: #CFD8DC;
//  color: black;
//}
//
//#menu__toggle:checked ~ .menu__btn > span {
//  transform: rotate(45deg);
//}
//#menu__toggle:checked ~ .menu__btn > span::before {
//  top: 0;
//  transform: rotate(0);
//}
//#menu__toggle:checked ~ .menu__btn > span::after {
//  top: 0;
//  transform: rotate(90deg);
//}
//#menu__toggle:checked ~ .menu__box {
//  visibility: visible;
//  right: 0;
//}

