@font-face {
    font-family: ManropeBold;
    src: url(./static/Manrope-Bold.ttf);
}
@font-face {
    font-family: ManropeExtraBold;
    src: url(./static/Manrope-ExtraBold.ttf);
}
@font-face {
    font-family: ManropeExtraLight;
    src: url(./static/Manrope-ExtraLight.ttf);
}
@font-face {
    font-family: ManropeLight;
    src: url(./static/Manrope-Light.ttf);
}
@font-face {
    font-family: ManropeMedium;
    src: url(./static/Manrope-Medium.ttf);
}
@font-face {
    font-family: ManropeRegular;
    src: url(./static/Manrope-Regular.ttf);
}
@font-face {
    font-family: ManropeSemiBold;
    src: url(./static/Manrope-SemiBold.ttf);
}


.back{
    background-color: #eaebf0;
}

@media (min-width: 1440px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
    }

}
@media (min-width: 576px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
}

.divCov{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

h1, h2, h3, h4 {
    font-family: ManropeSemiBold;
    color: #212121;
}

a {
    text-decoration: none;
}
.cgrey {
    color: #2e2e2e;
}
.cdgrey {
    color: #212121;
}
.cwgrey {
    color: #eaebf0;
}
.cwhite {
    color: #ffffff;
}
/*input[type=text] {*/
/*    border: none;*/
/*    border-bottom: 2px solid #eaebf0;*/
/*    color: #ffffff;*/
/*    background-color: #212121;*/
/*    width: 100%;*/
/*}*/
/*input[type=text]:focus {*/
/*    color: #ffffff;*/
/*    background-color: #212121;*/
/*}*/
/*input[type=text]:active {*/
/*    color: #ffffff;*/
/*    background-color: #212121;*/
/*}*/
/*button {*/
/*    background-color: #ef0b0c;*/
/*    color: #ffffff;*/
/*    border: none;*/
/*    width: 100%;*/
/*}*/
/*footer {*/
/*    background-color: #212121;*/
/*    padding: 10% 0 2% 0;*/
/*}*/

.tomain {
    background-color: #ef0b0c;
    color: #ffffff;
}
.tomain:hover {
    background-color: rgb(169, 18, 19);
    color: #f8eaea;
}
.mt-10 {
    margin-top: 15%;
}
.mt-7 {
    margin-top: 8%;
}
.mb-7 {
    margin-bottom: 7%;
}

.container{
    max-width: 100%;
}

.mb5{
    margin-bottom: 5px;
}

.imgFluid{
    max-width: 95%;
    height: auto;
}

.divCov{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
    padding: 20px;
}

.imgSt{
    width: 45%;
    margin: 0 20px 20px;
}

.butZam{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: none;
    background-color: #fb0808;
    margin: 30px auto;
    font-size: 17px;
    font-family: 'ManropeSemiBold';
}

.p{
    margin: 50px auto;
    display: block;
    width: 80%;
}

.imdiv2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.imdiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.textdiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

.ul1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin: 0 0 20px 20px;
}

@media screen and (max-width: 767px){
    .divCov{
        flex-wrap: wrap;
    }
    .imgSt{
        width: 90%;
    }
}