.base{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    object-fit: contain;
}

.block{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 24px 0 0 77%;
    position: relative;
    top: -90px;
    left: -244px;
    opacity: 1;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    /*background-color: #6495ed40;*/
    padding-top: 7px;
    cursor: pointer;
}

.block12{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    position: relative;
    top: -65px;
    left: 115px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    cursor: pointer;
}

.imageLarge {
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 10px;
    z-index: 2;
    height: 80vh;
    width: 80vw;
    bottom: 35px;
    position: relative;
}

.imageLarge2 {
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
    height: 80vh;
    width: 80vw;
    bottom: 35px;
    position: relative;
}

.figure{
    width: 100%;
}

.boxPost{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    color: white;
}

.imageSize{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blockLarge{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 24px 0 0 77%;
    position: relative;
    top: 30px;
    left: 9%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: #6495ed40;
    z-index: 7;
    padding-top: 7px;
    cursor: pointer;
}

.blockLarge12{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 24px 0 0 77%;
    position: relative;
    top: 35px;
    left: 8%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 3;
    cursor: pointer;
}

.divImg{
    /*width: 100%;*/
    /*height: 85%;*/
    /*position: relative;*/
    /*top: -5%;*/
}

.ul1{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
}

.sliderStyle{
    height: 100%;
    position: relative;
}

.breadcrumbs{
    /*max-width: 1200px;*/
    text-align: start;
    margin: 0 auto 60px;
    font-size: 14px;
    z-index: 2;
    position: relative;
}

.breadcrumbs > *{
    display: inline-block;
    margin-right: 5px;
    margin-top: 140px;
}

.breadcrumbs .crumb:after {
    content: '>';
    margin-left: 5px;
    color: #ddd;
}

.breadcrumbs .crumb:last-child:after {
    display: none;
}

.breadcrumbs .crumb a {
    color: #ddd;
}

.bread{
    color: #ddd;
    margin-left: 10px;
}

.breads{
    color: #ddd;
    cursor: pointer;
    text-decoration: none;
}

.colorBread{
    color: #7d7d80;
}

.h4Title{
    color: rgba(178, 177, 183, 1);
    font: normal normal normal 24px Gilroy Light, sans-serif;
    text-align: start;
    margin: 0 0 50px 20px;
}

.select{
    width: 335px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    /*padding-left: 70px;*/
    /*text-align-last: start;*/
    text-align: center;
    color: white;
    background-color: #DF4242;
    font-size: 16px;
    font-family: Gilroy Light, sans-serif;
    margin: 0 0 15px 0;
    outline: none;
    appearance: none;
}

.noneBorder{
    border: none;
}

.boxItem{
    background: transparent linear-gradient(70deg, #1D2025 0%, #29373A 100%) 0% 0% no-repeat padding-box;
    width: 325px;
    height: 130px;
    border-radius: 20px;
    padding: 10px;
    /*margin: 30px;*/
    margin: 0 30px 90px 0;
}

.divItem{
    width: 335px;
    display: flex;
    margin: 0 auto;
    flex-direction: row-reverse;
}

.titleH2{
    font-family: Gilroy Light, sans-serif;
    font-size: 72px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: left;
    /*margin: 14px 0 0 20px;*/
    width: 550px;
    height: 177px;

}

.divBoxTitASel{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    margin-bottom: 40px;
    align-items: center;
}

.pRed{
    color: rgba(223, 66, 66, 1);
    font-size: 10px;
    text-align: left;
    margin: 3px 0 0 10px;
    font-family: Gilroy Light, sans-serif;
}

.redBut{
    position: relative;
    bottom: -20px;
    width: 285px;
    height: 40px;
    background-color: rgba(223, 66, 66, 1);
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: Gilroy Medium, sans-serif;
}



.divRoad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: rgba(217, 217, 217, 1);
    font-family: 'Averta';
    margin-left: 10px;
}

.zPoz{
    position: relative;
    z-index: 2;
}

.slideStyleBack{
    background: transparent url("../image/svg/sw logo.svg") 21% 29% no-repeat padding-box;
    opacity: 1%;
    position: absolute;
    width: 99%;
    height: 70vh;
    top: 0;
    left: 5px;
    background-size: cover;
}

.slideStyle{
    background: transparent url("../image/svg/Location_icon.svg") 13% 50% no-repeat padding-box;
    background-color: #DF4242;
}

.slideStyle2{
    background: transparent url("../image/svg/Ω.svg") 25% 50% no-repeat padding-box;
    background-color: #DF4242;
}

.slideStyle3{
    position: relative;
    top: 30px;
    right: 25px;
}

.addBlock{
    background-color: white;
    width: 125px;
    height: 20px;
    border-radius: 5px;
    font-size: 10px;
    font-family: Gilroy Medium, sans-serif;
    line-height: 20px;
    position: relative;
    top: 9px;
    left: 20px;
}

.projectClass{
    font-size: 11px;
    width: 170px;
}

.boxPost2{
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    text-align: start;
}

.titlePost{
    color: #FFFFFF;
    height: 95px;
    font: normal normal normal 72px/98px Gilroy Light, sans-serif;
    margin: -10px 0 0 100px;
}

.dataTitle{
    margin: 10px 0 0 100px;
    color: #B2B1B7;
    font-size: 20px;
    font-family: Gilroy Medium, sans-serif;
    font-weight: normal;
}

.containerStyle {
    display: flex;
    overflow-y: hidden;
    margin-top: 30px;
}

.containerStyle::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.pSt{
    font-size: 20px;
    font-family: Gilroy Medium, sans-serif;
    color: #B2B1B7;
    margin-top: 20px;
}

.marshBut{
    margin: 0 0 70px 120px;
    width: 283px;
    height: 60px;
    border-radius: 30px;
    background-color: #DF4242;
    line-height: 60px;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-family: Gilroy Medium, sans-serif;
}

.serv{
    margin: 20px 20px 40px 100px;
    font-size: 48px;
    font-family: Gilroy Light, sans-serif;
}

.spanGrad{
    width: 47px;
    height: 47px;
    display: block;
    margin: 0 11px 30px 0;
    border-radius: 50%;
    background: linear-gradient(rgba(223, 66, 66, 0), rgba(223, 66, 66, 1));
}

.servDiv{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 100px 50px;
}

.servDiv2{
    width: 26%;
    display: flex;
}

.spanNameG{
    font-size: 18px;
    width: 200px;
    margin-top: 12px;
}

.hosh{
    margin: 40px 0 100px 100px;
    width: 283px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(66, 223, 76, 1);
    line-height: 60px;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-family: Gilroy Medium, sans-serif;
    cursor: pointer;
}

.desc2{
    margin: -10px 100px 20px 100px;
    color: #B2B1B7;
    font-size: 20px;
    font-family: Gilroy Medium, sans-serif;
}

.imageBox{
    width: 380px;
    height: 240px;
    border-radius: 18px;
    margin: 40px -70px 0 100px;
}

.zI{
    z-index: 1;
}

.divIm2{
    background: transparent linear-gradient(180deg, #000000 0%, #1d2025b0 100%) 0% 0% no-repeat padding-box;
    /*background: linear-gradient(180deg, rgb(0, 0, 0), rgba(29, 32, 37, 0));*/
    position: absolute;
    height: 351px;
    width: 100%;
    backdrop-filter: blur(1px);
    z-index: 0;
}

.divIm1{
    background: url('../image2/coverMARCHELLO.jpg');
    position: absolute;
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
    background-size: cover;
}

.titleH4{
    color: rgba(178, 177, 183, 1);
    font: normal normal normal 24px Gilroy Light, sans-serif;
    text-align: start;
    margin: 40px 0 40px;
}

.footerMain{
    width: 100%;
    height: 120px;
    background-color: #131718;
    color: #575758;
    font-size: 12px;
    font-family: Gilroy Light, sans-serif;
    position: relative;
    bottom: -110px;
    /*bottom: -221px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlePName{
    font-size: 18px;
    width: 172px;
    text-align: start;
    height: 24px;
    font-family: Gilroy Medium, sans-serif;
    font-weight: normal;
}

.titlePName2{
    font-size: 12px;
    text-align: start;
    font-family: Gilroy Medium, sans-serif;
    margin: 5px 0 -2px 0;
    font-weight: normal;
}

.footerMain2{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

.divButP{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    margin-top: 85px;
    padding-left: 100px;
}

.invest{
    margin: 100px 100px 20px 100px;
    font-size: 48px;
    font-family: Gilroy Light, sans-serif;
    width: 582px;
}

a[data-fancybox] img {
    cursor: zoom-in;
}

.titleH4321{}

.rich-select {
    height: 50px;
    position: relative;
    border: none;
    margin: 0 0 15px 0;
    padding: 9px 10px 10px 10px;
    background-color: #DF4242;
    width: 335px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Gilroy Light, sans-serif;
    outline: none;
    appearance: none;
}
.rich-select2 {
    width: 335px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    border: 1px solid gray;
    margin: 0 0 15px 0;
    padding: 11px 10px 10px 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Gilroy Light, sans-serif;
    outline: none;
    appearance: none;
}

.rich-select-dropdown {
    /*border-radius: .25rem;*/
    border: none;
    outline: none;
    /*top: -3px;*/
    /*position: relative;*/
}
.rich-select-dropdown2 {
    /*border-radius: .25rem;*/
    border: none;
    outline: none;
    /*top: -3px;*/
    /*position: relative;*/
}

.rich-select-dropdown:focus-within {
    /*border-color: #80bdff;*/
    /*outline: 0;*/
    /*box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);*/
}
.rich-select-dropdown2:focus-within {}

.rich-select-dropdown-button {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
.rich-select-dropdown-button2 {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.rich-select-dropdown-button + label,
.rich-select-option > input[type=radio] {
    position: absolute;
    display: block;
    right: .5rem;
    /*width: 2rem;*/
    /*height: 1rem;*/
    width: 50px;
    height: 50px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: end;
}
.rich-select-dropdown-button2 + label,
.rich-select-option2 > input[type=radio] {
    position: absolute;
    display: block;
    right: .5rem;
    /*width: 2rem;*/
    /*height: 1rem;*/
    width: 50px;
    height: 50px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: end;
}

.rich-select-dropdown-button + label {
    top: -6px;
    left: 0;
    padding: 25px 10px;
    width: 92%;
    border-radius: 20px;
}
.rich-select-dropdown-button2 + label {
    top: -6px;
    left: 0;
    padding: 25px 10px;
    width: 92%;
    border-radius: 20px;
}

.rich-select-dropdown-button + label::before {
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 1rem;
    content: "";
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../image/svg/Arrow.svg");
}
.rich-select-dropdown-button2 + label::before {
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 1rem;
    content: "";
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../image/svg/Arrow.svg");
}

.rich-select-dropdown > .rich-select-option > .rich-select-option-body {
    display: none;
}
.rich-select-dropdown > .rich-select-option input[type=radio]:checked + .rich-select-option-body {
    display: inline-block;
    width: 100%;
}

.rich-select-dropdown2 > .rich-select-option2 > .rich-select-option-body2 {
    display: none;
}
.rich-select-dropdown2 > .rich-select-option2 input[type=radio]:checked + .rich-select-option-body2 {
    display: inline-block;
    width: 100%;
}

.rich-select-options {
    display: none;
    position: absolute;
    background-color: #DF4242;
    border-top: none;
    border-radius: 0.25rem;
    width: 100%;
    max-height: 75vh;
    overflow-y: hidden;
    z-index: 1000;
    box-shadow: rgb(0 0 0 / 40%) 5px 8px 15px;
    left: 0;
    top: 50px;
}
.rich-select-options2 {
    display: none;
    position: absolute;
    background-color: rgb(41, 54, 59);
    border-top: none;
    border-radius: 0.25rem;
    width: 100%;
    max-height: 75vh;
    overflow-y: hidden;
    z-index: 1000;
    box-shadow: rgb(0 0 0 / 40%) 5px 8px 15px;
    left: 0;
    top: 50px;
}

.rich-select-option {
    padding: 0px 8px;
}
.rich-select-options > .rich-select-option:hover {
    background-color: #f1f1f1;
    color: black;
}

.rich-select-option2 {
    padding: 0px 8px;

}
.rich-select-options2 > .rich-select-option2:hover {
    background-color: #f1f1f1;
    color: black;
}

.rich-select-option-body label {
    width: 100%;
    /*padding: 4px 0 0 0;*/
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}
.rich-select-option-body2 label {
    width: 100%;
    /*padding: 4px 0 0 0;*/
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 3px 0;
}

.rich-select-option-body img {
    height: 20px;
    width: 15px;
    object-fit: contain;
    margin-right: 11px;
}
.rich-select-option-body2 img {
    height: 32px;
    width: 24px;
    object-fit: contain;
    margin-right: 11px;
    margin-top: -6px;
}

.rich-select-option-body > button {
    width: 100%;
    text-align: left;
    padding: 2px;
    border: none;
    outline: none;
    background: none;
}
.rich-select-option-body2 > button {
    width: 100%;
    text-align: left;
    padding: 2px;
    border: none;
    outline: none;
    background: none;
}

.rich-select-dropdown-button:checked ~ .rich-select-options {
    display: inline-block;
    z-index: 3;
}
.rich-select-dropdown-button2:checked ~ .rich-select-options2 {
    display: inline-block;
    z-index: 2;
}



@media screen and (max-width: 1200px) {
    .divBoxTitASel{
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        height: 370px;
    }
    .marshBut {
        margin: 0 0 70px 50px;
    }
}



@media screen and (max-width: 1000px) {
    .divBoxTitASel{
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        height: 370px;
    }
    .marshBut {
        margin: 0 0 70px 50px;
    }
}

@media screen and (max-width: 700px) {
    .titleH2 {
        height: 90px;
        font-size: 36px;
        width: 335px;
        margin: -10px 0 50px 20px;
    }
    .divBoxTitASel{
        margin-bottom: -50px;
        align-items: center;
        height: auto;
    }
    .breadcrumbs > * {
        margin-top: auto;
    }
    .breadcrumbs{
        margin: 0 20px 40px;
        padding: 120px 0 0 0;
        font-size: 10px;
    }
    .boxItem {
        margin: 30px;
    }
    .titleH4{
        margin: -30px 0 50px 20px;
    }
    .titleH4321{
        margin: -30px 0 50px 5px
    }
    .divIm1{
        height: 160px;
        margin-bottom: 30px;
    }
    .divIm2{
        height: 161px;
    }
    .titlePost {
        font: normal normal normal 36px Gilroy Light, sans-serif;
        height: auto;
        margin-left: 20px;
    }
    .dataTitle{
        margin: 10px 0 0 20px;
        font-size: 14px;
    }
    .imageBox{
        width: 280px;
        height: 210px;
        margin: 0 20px 0 0;
        object-fit: cover;
    }
    .footerMain {
        bottom: -115px;
    }
    .containerStyle {
        margin-left: 20px;
    }
    .divButP{
        display: block;
        flex-wrap: nowrap;
        justify-content: normal;
        margin-top: 0;
        padding-left: 0;
    }
    .pSt{
         margin: 40px 20px 20px;
         font-size: 14px;
     }
    .servDiv{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 10px 10px 20px;
    }
    .servDiv2{
        width: 45%;
        display: flex;

    }
    .serv{
        margin: 20px;
        font-size: 18px;
        font-family: Gilroy Light, sans-serif;
    }
    .spanGrad{
        width: 30px;
        height: 30px;
        margin: 0 11px 30px 0;
    }
    .spanNameG{
        font-size: 14px;
        width: 126px;
    }
    .desc2{
        margin: -10px 20px 20px 20px;
        font-size: 14px;
    }
    .invest {
        margin: 60px 100px 20px 20px;
        font-size: 18px;
        font-family:  Gilroy Light, sans-serif;
        width: 80%;
    }
    .hosh {
        margin: 40px auto;
    }
    .addBlock {
        top: 39px;
        left: 51px;
    }
    .zI{
        z-index: 0;
    }
    .zPoz{
        position: relative;
        z-index: auto;
    }
    .breads{
        font-size: 10px;
    }
    .marshBut{
        margin: 0 0 70px 20px;
    }
}