@import url(../fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NOW*/

.ul1{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
}

.thanks{
    padding: 10px;
    display: block;
    color: white;
    margin: 20px auto;
    font-family: 'Averta';
    font-size: 20px;
}

.thanksDiv{
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divMap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.container{

}

.divBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 30px;
}

.divBox12{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    justify-content: space-evenly;
}

.divName{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.divTitle{
    display: flex;
    overflow-y: hidden;
    margin-top: 35px;
    padding-bottom: 45px;
    justify-content: center;
    align-items: center;
}

.h3Title{
    width: 454px;
    height: 177px;
    text-align: left;
    font-weight: normal;
    font-family: Averta;
    color: #FFFFFF;
    margin-left: 128px;
    font-size: 72px;
}

.divH6{
    width: 100%;
    margin: 85px auto 0;
    display: flex;
    justify-content: center;
}

.h6Title{
    font: normal normal normal 48px/20px Averta Demo PE;
    font-family: Averta;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.pTitle{
    width: 445px;
    height: 181px;
     text-align: left;
    font: normal normal normal 18px/28px Averta Demo PE;
    color: #B2B1B7;
    margin: 30px 0 0 200px;
    font-family: 'Averta';
}

.spanTitle{
    border-radius: 25px;
    font: normal normal normal 16px/20px Averta Demo PE;
    margin-right: 15px;
    border: 1px solid #B2B1B7;
    font-family: Averta;
    text-decoration: none;
    color: #B2B1B7;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkTitle{
    text-decoration: none;
    color: #B2B1B7;
    font-family: Averta;
}

.block {
    background-image: url('../image/svg/compress-alt-solid.svg');
    display: block;
    width: 47px;
    height: 56px;
    margin: 24px 0px 0 77%;
    opacity: 0.5;
    background-color: lightslategrey;
}

.blockLarge {
    background-image: url('../image/svg/compress-alt-solid.svg');
    display: block;
    width: 47px;
    height: 56px;
    margin: 24px 0px 0 90%;
    opacity: 0.5;
    background-color: lightslategrey;
}

.spanImg{
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
}

.title1{
    margin: 0 8px 0 20px;
}

.active{
    background-color: #DF4242;
    color: #FFFFFF;
    border: none;
}

.boxOne{
    width: 335px;
    height: auto;
    border-radius: 20px;
    /*margin: 30px auto;*/
    background-color: #1D2025;
    margin: 45px 20px 0 20px;
}

.img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.boxHideImage{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    /*background-color: white;*/
    /*opacity: 0.99;*/
    z-index: 1;
    visibility: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.itemName{
    text-align: left;
    /*font: normal normal normal;*/
    font-size: 14px;
    font-family: Averta;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
    margin: 35px 10px 10px 10px;
}

.itemDesc{
    text-align: left;
    font-size: 12px;
    font-family: Averta;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
    margin: 20px 10px 0;
}

.divBut{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.font{
    font-family: Averta;
}

.butMin{
    position: relative;
    top: 2px;
    height: 24px;
    width: 24px;
    background-color: #1d2025;
    border-radius: 50%;
    border: 2px solid #575758;
}

.spanMin{
    top: -4px;
    display: block;
    width: 100%;
    height: 29px;
    position: relative;
    left: 0;
    font-size: 20px;
    font-family: Averta;
    color: #575758;
    opacity: 1;
}

.butPlas{
    border: none;
    background-color: #1d2025;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.spanAdd{
    display: block;
    width: 100%;
    height: 30px;
    position: relative;
    top: -3px;
    left: 0;
    font-size: 20px;
    font-family: Averta;
    color: white;
    opacity: 1;
}

.itemTotalSize{
    color: #FFFFFF;
    background-color: #1d2025;
    margin: 0 25px;
    position: relative;
    top: -4px;
}

.itemTotal{
    position: relative;
    top: -15px;
    margin: 32px 23px 0 0;
    font-family: Averta;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 1;
}

.check{
    margin: 35px 15px 10px -70px;
}

.check2{
    margin: 35px 15px 10px -190px;
}

.inputText{
    width: 166px;
    height: 16px;
    text-align: left;
    font-family: Averta;
    font-size: 14px;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
}

.inputTextGreen{
    width: 166px;
    height: 16px;
    font-family: Averta;
    font-size: 14px;
    opacity: 1;
    color: #42DF4C;
}

.empty{
    width: 100%;
    height: 115px;
}

.ix{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footerDiv{
    display: flex;
    justify-content: center;
}

.footerDiv2{
    position: fixed;
    bottom: 0;
    background-color: #db2d2d;
    width: 704px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: 'Averta';
}

.footerBut{
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 283px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    font: normal normal normal 16px/19px Averta Demo PE;
    font-family: 'Averta';
}

.orderBlock{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 4;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userdata{
    width: 40vw;
    height: 70vh;
    background-color: #1D2025;
    border: 1px solid grey;
    margin: 3% auto;
    padding: 10px;
    border-radius: 20px;
}

.userdata2{
    width: 40%;
    background-color: #1D2025;
    border: 1px solid grey;
    margin: 25% auto;
    padding: 10px;
    border-radius: 20px;
}

.titleUser{
    width: 283px;
    height: 92px;
    text-align: left;
    font-family: Averta;
    font-size: 36px;
    color: #FFFFFF;
    margin: 0 0 0 15px;
}

.descSpan{
    font-family: Averta;
    font-size: 13px;
    letter-spacing: 0px;
    color: #B2B1B7;
    margin: 0 0 0 15px;
    text-align: left;
}

.inputUser{
    margin: 10px 0;
    padding: 5px;
    width: 90%;
    border-bottom: 1px solid #A7A5A5;
    background-color: #1D2025;
    color: #A7A5A5;
    font-family: Averta;
}

.boxCheck{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    color: #FFFFFF;
    justify-content: flex-start;
    font-family: Averta;
}

.boxCheck2{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    align-items: flex-start;
    font-family: Averta;
    color: #FFFFFF;
}

input[type="radio"] {
    filter: sepia(100%) brightness(120%) hue-rotate(100deg) saturate(70%) contrast(300%);
}

.inputCheck{
    color: #1D2025;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #B2B1B7;
    border-radius: 4px;
}

.translateDiv{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.trBut{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    font: normal normal 600 14px/20px Gilroy Light;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    cursor: pointer;
    transition: all .3s ease-out;
    position: absolute;
    outline: none;
    border: none;
}

.trBut:hover{
    height: 70px;
    border-radius: 20px;
}

.trBut:hover .hovP{
    display: block;
}

.trBut:hover .hovP2{
    display: none;
}

.pLang{
    color: black;
    font: normal normal 600 14px/20px Gilroy Light;
}

.hovP{
    display: none;
}

.hovP2{
    display: block;
}

/* page thanks */

.divBlock{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

.imageThanks{
    position: absolute;
    opacity: 0.01;
    z-index: 1;
}

.divTit{
    width: 525px;
    height: 173px;
}

.thanksTitle{
    width: 525px;
    height: 173px;
    text-align: left;
    font: normal normal 300 72px/82px Gilroy Light;
    letter-spacing: 0;
    color: #FFFFFF;
}

.thanksP{
    width: 445px;
    height: 100px;
    text-align: left;
    font: normal normal 300 18px/28px Gilroy Light;
    letter-spacing: 0px;
    color: #B2B1B7;
}

.boxDiv{
    display: flex;
    justify-content: space-between;
    margin: 0 130px 90px 130px;
    z-index: 2;
    position: relative;
    top: 50px;
}

.divP{
    margin-left: 140px;
}

.butThanks{
    width: 283px;
    height: 60px;
    background: #42DF4C 0 0 no-repeat padding-box;
    border-radius: 30px;
    font: normal normal normal 20px/19px Averta;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0 0 130px;
}

.lineThanks{
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumbs{
    margin: 150px auto 60px 125px;
    text-align: start;
    font-size: 14px;
    width: 300px;
}



@media screen and (max-width: 1400px) {
    .trBut {
        width: 28px;
        height: 28px;
    }
    .pLang {
        font: normal normal 600 11px/20px Gilroy Light;
    }
    .boxDiv {
        margin: 0 100px 90px 100px;
    }
    .breadcrumbs{
        margin-left: 100px;
    }
    .divP{
        margin-left: 100px;
    }
    .butThanks{
        margin: 120px 0 0 100px;
    }
}

@media screen and (max-width: 1270px) {
    .thanksTitle {
        width: 425px;
        font: normal normal 300 60px/82px Gilroy Light;
    }
    .pLang {
        font: normal normal 600 11px/20px Gilroy Light;
    }
    .boxDiv {
        margin: 0 100px 70px 100px;
    }
    .breadcrumbs{
        margin-left: 100px;
    }
    .divP{
        margin-left: 50px;
        margin-top: 15px;
    }
    .divTit {
        width: 420px;
    }
    .thanksP {
        width: 350px;
        height: 70px;
        font: normal normal 300 16px/20px Gilroy Light;
    }
}

@media screen and (max-width: 1020px) {
    .boxDiv {
        flex-direction: column;
        margin: 0 100px 70px 100px;
    }
    .divP{
        margin-left: 0;
        margin-top: 40px;
    }
}

@media screen and (max-width: 700px){
    .translateDiv{
        display: block;
    }
    .trBut:hover{
        height: 35px;
        border-radius: 50%;
        position: relative;
    }
    .trBut{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-family: 'Averta';
        background-color: #1d2025;
        cursor: pointer;
        margin: 0 0 0 10px;
        position: relative;
    }
    .color{
        color: #B2B1B7;
        border: 2px solid #B2B1B7;
    }
    .image{
        width: 180px;
        height: 100px;
    }
    .inputBox{
        display: flex;
        flex-wrap: nowrap;
        background-color: darkolivegreen;
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }
    .listTableName{
        font-size: 13px;
    }
    .span{
        font-size: 9px;
    }
    .h3Title{
        font-family: Averta;
        font-weight: normal;
        margin: 14px 0 45px 20px;
        font-size: 35px;
        height: 90px;
        width: auto;
    }
    .divH6{
        width: auto;
        margin: auto;
        display: block;
        justify-content: normal;
    }
    .h6Title{
        font: normal normal normal 18px/20px Averta Demo PE;
        font-family: Averta;
        color: #D9D9D9;
        text-align: left;
        margin: -15px 0 10px 20px;
    }
    .divTitle{
        display: flex;
        overflow-y: hidden;
        margin-top: 35px;
        padding-bottom: 20px;
        justify-content: normal;
        align-items: normal;
        padding-left: 20px;
        padding-right: 20px;
    }
    .spanTitle{
        margin: 0 8px 0 0;
        font-size: 14px;
        font-family: Averta;
        padding: 8px;
        width: auto;
        height: auto;
    }
    .footerDiv2{
        position: fixed;
        bottom: 0;
        background-color: #db2d2d;
        width: 95%;
        height: 90px;
        border-radius: 15px 15px 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
    }
    .footerBut{
        width: 180px;
        height: 50px;
        font: unset;
    }
    .divBox{
        margin: auto;
    }
    /* thanks page */
    .thanksTitle {
        width: 365px;
        font: normal normal 300 45px/55px Gilroy Light;
    }
    .pLang {
        font: normal normal 600 11px/20px Gilroy Light;
    }
    .boxDiv {
        margin: 0 0 70px 20px;
    }
    .breadcrumbs{
        margin-left: 20px;
        margin-bottom: 0;
    }
    .divP{
        margin: 0;
    }
    .divTit {
        width: 365px;
    }
    .thanksP {
        width: 320px;
        height: 70px;
        font: normal normal 300 16px/20px Gilroy Light;
    }
    .butThanks{
        margin: 100px 0 0 20px;
        width: 255px;
        height: 50px;
        font: normal normal normal 18px/19px Averta;
    }
}