@import url(../fonts.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NOW*/

.ul1{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
}

.thanks{
    padding: 10px;
    display: block;
    color: white;
    margin: 20px auto;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    font-size: 20px;
}

.thanksDiv{
    padding: 120px 20px 20px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divMap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.container{

}

.pulse {
    box-shadow: 3px 4px 20px 20px hotpink;
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 3px 4px 20px 20px hotpink;
    }
    70% {
        -webkit-box-shadow: 3px 4px 20px 20px hotpink;
    }
    100% {
        -webkit-box-shadow: 3px 4px 20px 20px hotpink;
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 3px 4px 20px 0 hotpink;
        box-shadow: 3px 4px 20px 0 hotpink;
    }
    70% {
        -moz-box-shadow: 3px 4px 20px 10px hotpink;
        box-shadow: 3px 4px 20px 10px hotpink;
    }
    100% {
        -moz-box-shadow: 3px 4px 20px 0 hotpink;
        box-shadow: 3px 4px 20px 0 hotpink;
    }
}

.divBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 30px;
}

.divBox12{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    justify-content: space-evenly;
}

.divName{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.divTitle{
    display: flex;
    overflow-y: hidden;
    margin-top: 35px;
    padding-bottom: 45px;
    justify-content: center;
    align-items: center;
}

.styleUpManu2{
    position: fixed;
    top: 75px;
    z-index: 2;
    height: 70px;
    padding-bottom: 5px;
    background-color: rgb(39, 52, 55);
    width: 100%;
}

.styleUpManu{
    position: fixed;
    top: 35px;
    z-index: 2;
    width: 100%;
    height: 70px;
    padding-top: 15px;
    background-color: rgb(39, 52, 55);
}

.startPosition{
    position: relative;
}

.h3Title{
    width: 454px;
    height: 177px;
    text-align: left;
    font-weight: normal;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    color: #FFFFFF;
    margin-left: 128px;
    font-size: 72px;
}

.divH6{
    width: 100%;
    margin: 85px auto 0;
    display: flex;
    justify-content: center;
}

.h6Title{
    font: normal normal normal 48px/20px Gilroy Light, sans-serif;
    font-display: optional;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.pTitle{
    width: 445px;
    height: 181px;
     text-align: left;
    font: normal normal normal 18px/28px Gilroy Light, sans-serif;
    color: #B2B1B7;
    margin: 30px 0 0 200px;
}

.spanTitle{
    border-radius: 25px;
    font: normal normal normal 16px/20px Gilroy Light, sans-serif;
    margin-right: 15px;
    border: 1px solid #B2B1B7;
    text-decoration: none;
    color: #B2B1B7;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkTitle{
    text-decoration: none;
    color: #B2B1B7;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
}

.block {
    background-image: url('../image/svg/compress-alt-solid.svg');
    display: block;
    width: 47px;
    height: 56px;
    margin: 24px 0 0 77%;
    opacity: 0.5;
    background-color: lightslategrey;
}

.blockLarge {
    background-image: url('../image/svg/compress-alt-solid.svg');
    display: block;
    width: 47px;
    height: 56px;
    margin: 24px 0px 0 90%;
    opacity: 0.5;
    background-color: lightslategrey;
}

.spanImg{
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
}

.title1{
    margin: 0 8px 0 20px;
}

.active{
    background-color: #DF4242;
    color: #FFFFFF;
    border: none;
}

.boxOne{
    width: 335px;
    height: auto;
    border-radius: 20px;
    /*margin: 30px auto;*/
    background-color: #1D2025;
    margin: 45px 20px 0 20px;
}

.img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* popap obl */

.divPopapp{
    position: fixed;
    top: 0;
    width: 98vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}

.popappDiv2{
    display: flex;
    justify-content: center;
    width: 530px;
    height: 100px;
    border-radius: 20px;
    background-color: azure;
    padding: 20px;
    font-size: 23px;
    font-family: 'Gilroy Light';
}

.popappDiv3{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: azure;
    padding: 20px;
    font-size: 21px;
    font-family: 'Gilroy Light';
}

.closeX{
    position: relative;
    left: -30px;
    top: -30px;
    cursor: pointer;
}

.boxHideImage{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    /*background-color: white;*/
    /*opacity: 0.99;*/
    z-index: 4;
    visibility: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.itemName{
    text-align: left;
    font-size: 18px;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    letter-spacing: 0;
    color: #D9D9D9;
    margin: 35px 10px 10px 10px;
}

.itemDesc{
    text-align: left;
    font-size: 12px;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    letter-spacing: 0;
    color: #D9D9D9;
    opacity: 1;
    margin: 20px 10px 0;
}

.divBut{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.font{
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
}

.butMin{
    position: relative;
    top: 2px;
    height: 24px;
    width: 24px;
    background-color: #1d2025;
    border-radius: 50%;
    border: 2px solid #575758;
}

.spanMin{
    top: -1px;
    display: block;
    width: 100%;
    height: 29px;
    position: relative;
    left: 0;
    font-size: 20px;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    color: #575758;
    opacity: 1;
}

.butPlas{
    border: none;
    background-color: #1d2025;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.spanAdd{
    display: block;
    width: 100%;
    height: 30px;
    position: relative;
    top: 1px;
    left: 0;
    font-size: 20px;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    color: white;
    opacity: 1;
}

.itemTotalSize{
    color: #FFFFFF;
    background-color: #1d2025;
    margin: 0 25px;
    /*position: relative;*/
    /*top: -4px;*/
}

.itemTotal{
    position: relative;
    top: -15px;
    margin: 32px 23px 0 0;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 1;
}

.inputResh{
    width: 60px;
    padding: 5px;
    outline: none;
    border: none;
    color: black;
}

.check{
    margin: 35px 15px 10px -70px;
}

.check2{
    margin: 35px 15px 10px -190px;
}

.inputText{
    width: 166px;
    height: 16px;
    text-align: left;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    font-size: 14px;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
}

.inputTextGreen{
    width: 166px;
    height: 16px;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    font-size: 14px;
    opacity: 1;
    color: #42DF4C;
}

.empty{
    width: 100%;
    height: 115px;
}

.ix{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footerDiv{
    display: flex;
    justify-content: center;
}

.footerDiv2{
    position: fixed;
    bottom: 0;
    background-color: #db2d2d;
    width: 704px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: Gilroy Light, sans-serif;
    font-display: optional;
    z-index: 1;
}

.footerBut{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 283px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    font: normal normal normal 16px/19px Gilroy Light, sans-serif;
    font-display: optional;
}

.orderBlock{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 4;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userdata{
    width: 40vw;
    height: 70vh;
    background-color: #1D2025;
    border: 1px solid grey;
    margin: 3% auto;
    padding: 10px;
    border-radius: 20px;
}

.userdata2{
    width: 40%;
    background-color: #1D2025;
    border: 1px solid grey;
    margin: 25% auto;
    padding: 10px;
    border-radius: 20px;
}

.titleUser{
    width: 283px;
    height: 92px;
    text-align: left;
    font-family: Gilroy Light, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0 0 0 15px;
}

.descSpan{
    font-family: Gilroy Light, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    color: #B2B1B7;
    margin: 0 0 0 15px;
    text-align: left;
}

.inputUser{
    margin: 10px 0;
    padding: 5px;
    width: 90%;
    height: 40px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #A7A5A5;
    background-color: #1D2025;
    color: #A7A5A5;
    outline: none;
    font-family: Gilroy Light, sans-serif;
}

.boxCheck{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    color: #FFFFFF;
    justify-content: flex-start;
    font-family: Gilroy Light, sans-serif;
}

.boxCheck2{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    align-items: flex-start;
    font-family: Gilroy Light, sans-serif;
    color: #FFFFFF;
}

input[type="radio"] {
    filter: sepia(100%) brightness(120%) hue-rotate(100deg) saturate(70%) contrast(300%);
}

.inputCheck{
    color: #1D2025;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #B2B1B7;
    border-radius: 4px;
}

.translateDiv{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.trBut{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    font: normal normal 600 14px/20px Gilroy Light, sans-serif;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    cursor: pointer;
    transition: all .3s ease-out;
    position: absolute;
    outline: none;
    border: none;
}

.trBut:hover{
    height: 100px;
    border-radius: 20px;
}

.trBut:hover .hovP{
    display: block;
}

.trBut:hover .hovP2{
    display: none;
}

.pLang{
    color: black;
    font: normal normal 600 14px/20px Gilroy Light, sans-serif;
}

.hovP{
    display: none;
}

.hovP2{
    display: block;
}

/* page thanks */

.divBlock{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 100px;
}

.imageThanks{
    position: absolute;
    opacity: 0.01;
    z-index: 1;
}

.divTit{
    width: 525px;
    height: 173px;
}

.thanksTitle{
    width: 525px;
    height: 173px;
    text-align: left;
    font: normal normal 300 72px/82px Gilroy Light, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
}

.thanksP{
    width: 445px;
    height: 100px;
    text-align: left;
    font: normal normal 300 18px/28px Gilroy Light, sans-serif;
    letter-spacing: 0px;
    color: #B2B1B7;
}

.boxDiv{
    display: flex;
    justify-content: space-between;
    margin: 0 130px 90px 130px;
    z-index: 2;
    position: relative;
    top: 50px;
}

.divP{
    margin-left: 140px;
}

.butThanks{
    width: 283px;
    height: 60px;
    background: #42DF4C 0 0 no-repeat padding-box;
    border-radius: 30px;
    font: normal normal normal 20px/19px Gilroy Light, sans-serif;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0 0 130px;
}

.lineThanks{
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumbs{
    margin: 50px auto 60px 125px;
    text-align: start;
    font-size: 14px;
    width: 300px;
    z-index: 2;
    position: relative;
}

/* Contacts page */

.divMain{
    z-index: 2;
    padding: 0 160px 100px;
    text-align: start;
}

.bread2{
    margin: 50px auto 70px 0;
}

.thanksTitle2{
    width: 525px;
    height: 126px;
    text-align: left;
    font: normal normal 300 72px/82px Gilroy Light, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
}

.div2Box{
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div1Cont{
    width: 30%;
    text-align: left;
}

.h2_1{
    width: 380px;
    height: 120px;
    text-align: left;
    font: normal normal 300 52px/70px Gilroy Light, sans-serif;
    letter-spacing: 0;
    color: #B2B1B7;
}

.p_1{
    font: normal normal 300 33px/44px Gilroy Light, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
}

.p_1_2{
   margin-bottom: 115px;
}

.p_1_3{
   margin-bottom: 55px;
}

.input1{
   width: 380px;
    background-color: transparent;
}

.h2_2{
    width: 379px;
    height: 129px;
    text-align: left;
    font: normal normal 300 22px/33px Gilroy Light, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 62px;
}

.greenButSend{
    display: flex;
    width: 380px;
    height: 60px;
    background: #42DF4C 0 0 no-repeat padding-box;
    border-radius: 30px;
    font: normal normal normal 18px/19px Gilroy Light, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin: 60px auto 0;
}

.textArea{
    /*margin: 10px 0;*/
    padding: 5px;
    width: 90%;
    height: 169px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #A7A5A5;
    background-color: transparent;
    color: #A7A5A5;
    outline: none;
    font-family: Gilroy Light, sans-serif;
}




@media screen and (max-width: 1600px) {
    .div1Cont {
        width: 24%
    }
    .input1 {
        width: 320px;
    }
    .p_1 {
        font: normal normal 300 28px/44px Gilroy Light, sans-serif;
    }
    .h2_1 {
        width: 288px;
    }
    .h2_2 {
        width: 275px;
    }
    .greenButSend {
        width: 330px;
    }
    .textArea{
        width: 320px;
    }
}

@media screen and (max-width: 1400px) {
    .trBut {
        width: 28px;
        height: 28px;
    }
    .pLang {
        font: normal normal 600 11px/20px Gilroy Light, sans-serif;
    }
    .boxDiv {
        margin: 0 100px 90px 100px;
    }
    .breadcrumbs{
        margin-left: 100px;
    }
    .divP{
        margin-left: 100px;
    }
    .butThanks{
        margin: 120px 0 0 100px;
    }
    .thanksTitle2{
        width: 325px;
        height: 140px;
        font: normal normal 300 55px/82px Gilroy Light, sans-serif;
    }
    .h2_1 {
        width: 250px;
        height: 80px;
        font: normal normal 300 35px/40px Gilroy Light, sans-serif;
    }
    .breadcrumbs2{
        margin-left: 0;
    }
    .p_1_2{
        margin-bottom: 90px;
    }
    .divMain{
        padding: 0 100px;
    }
    .input1{
        width: 300px;
    }
    .textArea{
        width: 300px;
        height: 129px;
    }
    .greenButSend {
        margin-bottom: 50px;
    }
    .styleUpManu2{
        top: 55px;
        padding-left: 110px;
    }
}

@media screen and (max-width: 1270px) {
    .greenButSend{
        margin: 100px auto 100px;
    }
    .input2{
        width: 400px;
    }
    .h2_2{
        width: 635px;
        margin-bottom: 20px;
    }
    .div1Cont2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .divInput1{
        width: 305px;
        margin-bottom: 50px;
    }
    .h2_1{
        width: 350px;
    }
    .div1Cont{
        width: 100%;
        display: flex;
    }
    .div2Box{
        flex-direction: column;
    }
    .thanksTitle {
        width: 425px;
        font: normal normal 300 60px/82px Gilroy Light, sans-serif;
    }
    .pLang {
        font: normal normal 600 11px/20px Gilroy Light, sans-serif;
    }
    .boxDiv {
        margin: 0 100px 70px 100px;
    }
    .breadcrumbs{
        margin-left: 100px;
    }
    .divP{
        margin-left: 50px;
        margin-top: 15px;
    }
    .divTit {
        width: 420px;
    }
    .thanksP {
        width: 350px;
        height: 70px;
        font: normal normal 300 16px/20px Gilroy Light, sans-serif;
    }
    .breadcrumbs2{
        margin-left: 0;
    }
    .textArea{
        width: 400px;
        height: 129px;
    }
}

@media screen and (max-width: 1200px) {
    .styleUpManu2{
        top: 35px;
        padding-left: 310px;
    }
}

@media screen and (max-width: 1020px) {
    .boxDiv {
        flex-direction: column;
        margin: 0 100px 70px 100px;
    }
    .divP{
        margin-left: 0;
        margin-top: 40px;
    }
    .styleUpManu2{
        padding-left: 425px;
    }
}

@media screen and (max-width: 900px){
    .styleUpManu2{
        padding-left: 620px;
    }
    .divMain{
        background-color: #1E2227;
        padding: 0 20px;
    }
    .input1{
        width: 335px;
        background-color: #1E2227;
    }
    .thanksTitle2{
        width: 200px;
        height: 93px;
        text-align: left;
        font: normal normal 300 36px/82px Gilroy Light, sans-serif;
        letter-spacing: 0;
        color: #FFFFFF;
    }
    .breadcrumbs2{
        margin: 150px 0 30px 0;
    }
    .h2_1{
        width: 330px;
        height: 40px;
        text-align: left;
        font: normal normal 300 22px/70px Gilroy Light, sans-serif;
    }
    .h2_2{
        width: 335px;
        height: 80px;
        margin-bottom: 20px;
        font: normal normal 300 18px/22px Gilroy Light, sans-serif;
    }
    .div1Cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }
    .p_1{
        font: normal normal 300 30px/44px Gilroy Light, sans-serif;
    }
    .p_1_2{
        margin-bottom: 30px;
    }
    .greenButSend{
        font: normal normal normal 14px/19px Gilroy Light, sans-serif;
        margin: 0 auto 80px;
    }
    .textArea{
        width: 335px;
        height: 120px;
    }
    .translateDiv{
        display: block;
    }
    .trBut:hover{
        height: 100px;
        border-radius: 20px;
        position: absolute;
    }
    .trBut{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-family: Gilroy Light, sans-serif;
        background-color: white;
        cursor: pointer;
        margin: 0 0 0 10px;
        position: relative;
    }
    .inputUser {
        height: 35px;
        font-size: 15px;
    }
    .descSpan {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px){
    .userdata2, .userdata {
        width: 90%;
        height: 80vh;
    }
    .translateDiv{
        display: block;
    }
    .trBut:hover{
        height: 100px;
        border-radius: 20px;
        position: absolute;
    }
    .trBut{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-family: Gilroy Light, sans-serif;
        background-color: white;
        cursor: pointer;
        margin: 0 0 0 10px;
        position: relative;
    }
    .color{
        color: #B2B1B7;
        border: 2px solid #B2B1B7;
    }
    .image{
        width: 180px;
        height: 100px;
    }
    .inputBox{
        display: flex;
        flex-wrap: nowrap;
        background-color: darkolivegreen;
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }
    .listTableName{
        font-size: 13px;
    }
    .span{
        font-size: 9px;
    }
    .h3Title{
        font-family: Gilroy Light, sans-serif;
        font-weight: normal;
        margin: 0 0 30px 20px;
        font-size: 35px;
        height: 90px;
        width: auto;
    }
    .divH6{
        width: auto;
        margin: auto;
        display: block;
        justify-content: normal;
    }
    .h6Title{
        font: normal normal normal 18px/20px Averta Demo PE;
        font-family: Gilroy Light, sans-serif;
        color: #D9D9D9;
        text-align: left;
        margin: -15px 0 10px 20px;
    }
    .divTitle{
        display: flex;
        overflow-y: hidden;
        margin-top: 35px;
        padding-bottom: 20px;
        justify-content: normal;
        align-items: normal;
        padding-left: 20px;
        padding-right: 20px;
    }
    .spanTitle{
        margin: 0 8px 0 0;
        font-size: 14px;
        font-family: Gilroy Light, sans-serif;
        padding: 8px;
        width: auto;
        height: auto;
    }
    .spanTit2{
        width: 120px;
    }
    .footerDiv2{
        position: fixed;
        bottom: 0;
        background-color: #db2d2d;
        width: 95%;
        height: 130px;
        border-radius: 15px 15px 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-size: 17px;
        z-index: 1;
    }
    .footerBut{
        width: 230px;
        height: 50px;
        font: unset;
    }
    .divBox{
        margin: auto;
    }
    /* thanks page */
    .thanksTitle {
        width: 365px;
        font: normal normal 300 45px/55px Gilroy Light;
    }
    .pLang {
        font: normal normal 600 11px/20px Gilroy Light;
    }
    .boxDiv {
        margin: 0 0 70px 20px;
    }
    .breadcrumbs{
        margin-left: 20px;
        margin-bottom: 0;
    }
    .divP{
        margin: 0;
    }
    .divTit {
        width: 365px;
    }
    .thanksP {
        width: 320px;
        height: 70px;
        font: normal normal 300 16px/20px Gilroy Light, sans-serif;
    }
    .butThanks{
        margin: 100px 0 0 20px;
        width: 255px;
        height: 50px;
        font: normal normal normal 18px/19px Gilroy Light, sans-serif;
    }
    .breadcrumbs2{
        margin: 40px 0 30px 0;
    }
    .divBlock{
        padding-top: 60px;
    }
}