@import url(../fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NOW*/

.thanks{
    border: 1px solid black;
    background-color: lightcyan;
    padding: 10px;
    display: block;
    color: black;
}

.thanksDiv{
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

body{
    background-color: #29363B;
}

.container{

}

.divBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divTitle{
    display: flex;
    overflow-y: hidden;
    margin: 35px 0 0 0;
}

.h3Title{
    width: 335px;
    height: 90px;
    text-align: left;
    font: normal normal normal 36px/43px Averta Demo PE;
    font-family: Averta;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin: 14px 0 0 20px;
}

.h6Title{
    width: 185px;
    height: 24px;
    text-align: left;
    font: normal normal normal 18px/20px Averta Demo PE;
    font-family: Averta;
    letter-spacing: 0;
    color: #D9D9D9;
    opacity: 1;
    margin: -15px 0 10px 20px;
}

.spanTitle{
    border-radius: 20px;
    padding: 6px;
    margin: 0 8px 0 0;
    /*background-color: #DF4242;*/
    font-size: 14px;
    border: 1px solid #B2B1B7;
    font-family: Averta;
    text-decoration: none;
    color: #B2B1B7;
    opacity: 1;
    padding: 8px;
}

.linkTitle{
    text-decoration: none;
    color: #B2B1B7;
    font-family: Averta;
}

.block {
    background-image: url('../image/svg/compress-alt-solid.svg');
    display: block;
    width: 47px;
    height: 56px;
    margin: 24px 0px 0 77%;
    opacity: 0.5;
    background-color: lightslategrey;
}

.blockLarge {
    background-image: url('../image/svg/compress-alt-solid.svg');
    display: block;
    width: 47px;
    height: 56px;
    margin: 24px 0px 0 90%;
    opacity: 0.5;
    background-color: lightslategrey;
}

.spanImg{
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;

}

.title1{
    margin: 0 8px 0 20px;
}

.active{
    background-color: #DF4242;
    color: #FFFFFF;
    border: none;
}

.boxOne{
    width: 335px;
    height: auto;
    border-radius: 20px;
    /*margin: 30px auto;*/
    background-color: #1D2025;
    margin: 45px 20px 0 20px;
}

.img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.boxHideImage{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    /*background-color: white;*/
    /*opacity: 0.99;*/
    z-index: 1;
    visibility: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.itemName{
    text-align: left;
    /*font: normal normal normal;*/
    font-size: 14px;
    font-family: Averta;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
    margin: 35px 10px 10px 10px;
}

.itemDesc{
    text-align: left;
    /*font: normal normal normal;*/
    font-size: 12px;
    font-family: Averta;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
    margin: 20px 0 0 10px;
}

.divBut{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.font{
    font-family: Averta;
}

.butMin{
    position: relative;
    top: 2px;
    height: 24px;
    width: 24px;
    background-color: #1d2025;
    border-radius: 50%;
    border: 2px solid #575758;
}

.spanMin{
    top: -4px;
    display: block;
    width: 100%;
    height: 29px;
    position: relative;
    left: 0;
    font-size: 20px;
    font-family: Averta;
    color: #575758;
    opacity: 1;
}

.butPlas{
    border: none;
    background-color: #1d2025;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.spanAdd{
    display: block;
    width: 100%;
    height: 30px;
    position: relative;
    top: -3px;
    left: 0;
    font-size: 20px;
    font-family: Averta;
    color: white;
    opacity: 1;
}

.itemTotalSize{
    color: #FFFFFF;
    background-color: #1d2025;
    margin: 0 25px;
    position: relative;
    top: -4px;
}

.itemTotal{
    position: relative;
    top: -15px;
    margin: 32px 23px 0 0;
    font-family: Averta;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 1;
}

.check{
    margin: 35px 15px 10px -70px;
}

.check2{
    margin: 35px 15px 10px -190px;
}

.inputText{
    width: 166px;
    height: 16px;
    text-align: left;
    font-family: Averta;
    font-size: 14px;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
}

.inputTextGreen{
    width: 166px;
    height: 16px;
    font-family: Averta;
    font-size: 14px;
    opacity: 1;
    color: #42DF4C;
}

.empty{
    width: 100%;
    height: 115px;
}

.ix{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footerDiv{
    display: flex;
    justify-content: center;
}

.footerDiv2{
    position: fixed;
    bottom: 0;
    background-color: #db2d2d;
    width: 95%;
    height: 90px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerBut{
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
}

.orderBlock{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.99;
    z-index: 1;
    visibility: hidden;
}

.userdata{
    width: 90%;
    height: 635px;
    background-color: #1D2025;
    border: 1px solid grey;
    margin: 15px auto;
    padding: 10px;
    border-radius: 20px;
}

.titleUser{
    width: 283px;
    height: 92px;
    text-align: left;
    font-family: Averta;
    font-size: 36px;
    color: #FFFFFF;
    margin: 0 0 0 15px;
}

.descSpan{
    font-family: Averta;
    font-size: 13px;
    letter-spacing: 0px;
    color: #B2B1B7;
    margin: 0 0 0 15px;
    text-align: left;
}

.inputUser{
    margin: 10px 0;
    padding: 5px;
    width: 90%;
    border-bottom: 1px solid #A7A5A5;
    background-color: #1D2025;
    color: #A7A5A5;
    font-family: Averta;
}

.boxCheck{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    color: #FFFFFF;
    justify-content: flex-start;
    font-family: Averta;
}

.boxCheck2{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    align-items: flex-start;
    font-family: Averta;
    color: #FFFFFF;
}

input[type="radio"] {
    filter: sepia(100%) brightness(120%) hue-rotate(100deg) saturate(70%) contrast(300%);
}

.inputCheck{
    color: #1D2025;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #B2B1B7;
    border-radius: 4px;
}

.butSencs{
    background-color: #FFFF;
    text-decoration: none;
    font-family: 'Averta';
    padding: 12px;
    border-radius: 23px;
    border: 1px solid gray;
    cursor: pointer;
}

.translateDiv{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}

.trBut{
    width: 45px;
    height: 25px;
    border-radius: 15px;
    color: #ffffff;
    margin: 0 0 0 10px;
    font-family: 'Averta';
    background-color: #29363b;
    border: 1px solid #b2b1b7;
}

.color{
    background-color: #df4242;
    color: white;
    border: none;
}

@media screen and (max-width: 700px){
    .image{
        width: 180px;
        height: 100px;
    }

    .inputBox{
        display: flex;
        flex-wrap: nowrap;
        background-color: darkolivegreen;
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }

    .listTableName{
        font-size: 13px;
    }

    .span{
        font-size: 9px;
    }
}