@import url(../fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.app{*/
/*    margin: 20px 200px 50px 50px;*/
/*}*/

/*.search{*/
/*    padding: 10px;*/
/*    font-size: 20px;*/
/*}*/

/*.listTable{*/
/*    padding: 2px;*/
/*    width: 80%;*/
/*    list-style: none;*/
/*    text-align: center;*/
/*    border-radius: 4px;*/
/*    background-color: lightgrey;*/
/*    color: #851653;*/
/*    font-family: sans-serif;*/
/*    margin: 20px;*/
/*}*/

/*.list{*/
/*    padding: 2px;*/
/*    list-style: none;*/
/*    text-align: center;*/
/*    background-color: lightgrey;*/
/*    color: #851653;*/
/*    font-family: sans-serif;*/
/*}*/

/*.listTableName{*/
/*    padding: 2px;*/
/*    list-style: none;*/
/*    text-align: center;*/
/*    background-color: lightgrey;*/
/*    color: #851653;*/
/*    font-family: sans-serif;*/
/*    width: 15%;*/
/*}*/

/*.dateT{*/
/*    width: 23%;*/
/*}*/

/*.listForm{*/
/*    padding: 4px;*/
/*    list-style: none;*/
/*    text-align: center;*/
/*    height: 20px;*/
/*}*/

/*.listName{*/
/*    padding: 5px;*/
/*    list-style: none;*/
/*    text-align: left;*/
/*    max-width: 800px;*/

/*}*/

/*.input{*/
/*    background-color: lightgrey;*/
/*    color: #851653;*/
/*    outline: none;*/
/*}*/

/*.input2{*/
/*    width: 100%;*/
/*    border: none;*/
/*    outline: none;*/
/*    padding: 4px;*/
/*}*/

/*.input1{*/
/*    width: 50px;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

/*.inputIn2Tab{*/
/*    color: #851653;*/
/*    outline: none;*/
/*    padding: 4px;*/
/*}*/

/*.listItem{*/
/*    margin-bottom: 20px;*/
/*    font-size: 25px;*/
/*    color: #444;*/
/*    font-weight: 300;*/
/*}*/

/*.top{*/
/*    background-color: lightgrey;*/
/*}*/

/*.total{*/
/*    background-color: aliceblue;*/

/*}*/

/*.subBut{*/
/*    width: 100px;*/
/*    height: 35px;*/
/*    background-color: #00ff008f;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    font-family: sans-serif;*/
/*    position: relative;*/
/*    top: -30px;*/
/*    left: 30%;*/
/*}*/

/*.box2{*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    border: 1px solid black;*/
/*}*/

/*.liClass{*/
/*    width: 50px;*/
/*    height: 20px;*/
/*}*/

/*.citiBox{*/
/*    border-collapse: collapse;*/
/*    border-style: groove;*/
/*    background: aliceblue;*/
/*}*/

/*table, th, td {*/
/*    border-collapse: collapse;*/
/*    border-style: groove;*/
/*}*/

/*th, td {*/
/*    background-color: #96D4D4;*/
/*}*/

/*.div1{*/
/*    border: 5px solid lightpink;*/
/*    background-color: lightgray;*/
/*    border-radius: 10px;*/
/*}*/

/*.boxh1{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.link{*/
/*    border: 1px solid black;*/
/*    display: contents;*/
/*}*/

/*.image{*/
/*    width: 270px;*/
/*    height: 150px;*/
/*    margin: 10px 50px 10px;*/
/*}*/

/*.h1{*/
/*    width: 200px;*/
/*}*/

/*.boxLink{*/
/*    margin-bottom: 50px;*/
/*}*/

/*.inputBox{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-wrap: nowrap;*/
/*    background-color: darkolivegreen;*/
/*    padding: 15px;*/
/*    flex-direction: row;*/
/*}*/

/*.span{*/
/*    padding: 5px;*/
/*    margin: 15px 10px 0 0;*/
/*    background-color: #96D4D4;*/
/*    border-radius: 10px;*/
/*}*/

/*.divBox2{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.divBox3{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.divBox4{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.marginR{*/
/*    margin-right: 10px;*/
/*}*/

/*.display{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background-color: yellowgreen;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/

/*.add{*/
/*    display: flex;*/
/*    justify-content: end;*/
/*    background-color: yellowgreen;*/
/*}*/

/*.spanAdd{*/
/*    background-color: azure;*/
/*    margin-right: 50px;*/
/*}*/

/*.inputSpan{*/
/*    width: 65px;*/
/*}*/

/*.submitBut{*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    background-color: #96D4D4;*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*    font-family: sans-serif;*/
/*    font-weight: 500;*/
/*    font-size: 14px;*/
/*}*/

/*.logo {*/
/*    background-color: black;*/
/*    color: #fff;*/
/*    font-weight: 700;*/
/*    line-height: 35px;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 0.15px;*/
/*    border-radius: 5px;*/
/*    padding: 10px 10px;*/
/*    text-decoration: none;*/

/*}*/

/*.logo:hover {*/
/*    background-color: #4361ee;*/
/*}*/

/*NOW*/

body{
    background-color: #29363B;
}

.container{

}

.divBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divTitle{
    display: flex;
    overflow-y: hidden;
    margin: 35px 0 0 0;
}

.h3Title{
    top: 114px;
    left: 20px;
    width: 335px;
    height: 90px;
    text-align: left;
    font: normal normal normal 36px/43px Averta Demo PE;
    font-family: Averta;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.h6Title{
    top: 249px;
    left: 20px;
    width: 163px;
    height: 24px;
    text-align: left;
    font: normal normal normal 18px/20px Averta Demo PE;
    font-family: Averta;
    letter-spacing: 0;
    color: #D9D9D9;
    opacity: 1;
}

.spanTitle{
    border-radius: 20px;
    padding: 6px;
    margin: 0 8px 0 0;
    /*background-color: #DF4242;*/
    font-size: 14px;
    background: #DF4242 0% 0% no-repeat padding-box;
    font-family: Averta;

    opacity: 1;
}

.linkTitle{
    text-decoration: none;
    color: white;
    font-family: Averta;
}

.boxOne{
    width: 335px;
    height: auto;
    border: 1px solid gray;
    border-radius: 20px;
    /*margin: 30px auto;*/
    background-color: #1D2025;
    margin: 45px 10px 0 20px;
}

.img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.boxHideImage{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.99;
    z-index: 1;
    visibility: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.itemName{
    text-align: left;
    /*font: normal normal normal;*/
    font-size: 14px;
    font-family: Averta;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
    margin: 30px 10px 10px 10px;
}

.itemDesc{
    text-align: left;
    /*font: normal normal normal;*/
    font-size: 12px;
    font-family: Averta;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
    margin: 20px 0 0 10px;
}

.divBut{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.font{
    font-family: Averta;
}

.butMin{
    position: relative;
    top: 2px;
    height: 26px;
    width: 26px;
    background-color: #1d2025;
    border-radius: 50%;
    border: 2px solid #575758;
}

.spanMin{
    top: -3px;
    display: block;
    width: 100%;
    height: 29px;
    position: relative;
    left: 0;
    font-size: 20px;
    font-family: Averta;
    color: #575758;
    opacity: 1;
}

.butPlas{
    border: none;
    background-color: #1d2025;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.spanAdd{
    display: block;
    width: 100%;
    height: 29px;
    position: relative;
    top: -2px;
    left: 0;
    font-size: 20px;
    font-family: Averta;
    color: #575758;
    opacity: 1;
}

.itemTotalSize{
    color: #FFFFFF;
    background-color: #1d2025;
    margin: 0 20px;
    position: relative;
    top: -4px;
}

.itemTotal{
    position: relative;
    top: -15px;
    margin: 32px 23px 0 0;
    font-family: Averta;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 1;
}

.check{
    margin: 35px 15px 10px -70px;
}

.check2{
    margin: 35px 15px 10px -190px;
}

.inputText{
    width: 166px;
    height: 16px;
    text-align: left;
    font-family: Averta;
    font-size: 14px;
    letter-spacing: 0px;
    color: #D9D9D9;
    opacity: 1;
}

.inputTextGreen{
    width: 166px;
    height: 16px;
    font-family: Averta;
    font-size: 14px;
    opacity: 1;
    color: #42DF4C;
}

.empty{
    width: 100%;
    height: 115px;
}

.ix{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footerDiv{
    display: flex;
    justify-content: center;
}

.footerDiv2{
    position: fixed;
    bottom: 0;
    background-color: #db2d2d;
    width: 80%;
    height: 90px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerBut{
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
}

.orderBlock{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.99;
    z-index: 1;
    visibility: hidden;
}

.userdata{
    width: 90%;
    height: 635px;
    background-color: #1D2025;
    border: 1px solid grey;
    margin: 15px auto;
    padding: 10px;
    border-radius: 20px;
}

.titleUser{
    width: 283px;
    height: 92px;
    text-align: left;
    font-family: Averta;
    font-size: 36px;
    color: #FFFFFF;
    margin: 0 0 0 15px;
}

.descSpan{
    font-family: Averta;
    font-size: 13px;
    letter-spacing: 0px;
    color: #B2B1B7;
    margin: 0 0 0 15px;
    text-align: left;
}

.inputUser{
    margin: 10px 0;
    padding: 5px;
    width: 90%;
    border-bottom: 1px solid #A7A5A5;
    background-color: #1D2025;
    color: #A7A5A5;
    font-family: Averta;
}

.boxCheck{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    color: #FFFFFF;
    justify-content: flex-start;
    font-family: Averta;
}

.boxCheck2{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    align-items: flex-start;
    font-family: Averta;
    color: #FFFFFF;
}

input[type="checkbox"] {
    filter: sepia(100%) brightness(80%) hue-rotate(100deg) saturate(70%) contrast(300%);
}

.inputCheck{
    color: #1D2025;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #B2B1B7;
    border-radius: 4px;
}

.butSencs{
    background-color: #FFFF;
    text-decoration: none;
    font-family: 'Averta';
    padding: 12px;
    border-radius: 23px;
    border: 1px solid gray;
    cursor: pointer;
}


@media screen and (max-width: 700px){
    .image{
        width: 180px;
        height: 100px;
    }

    .inputBox{
        display: flex;
        flex-wrap: nowrap;
        background-color: darkolivegreen;
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }

    .listTableName{
        font-size: 13px;
    }

    .span{
        font-size: 9px;
    }
}