.base {
    border-radius: 20px 20px 0 0;
    height: 315px;
    overflow: hidden;
    width: 335px;
}

/*.img1{*/
/*    background: transparent url('../src/image/ЩІТКА (1).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img1_2{*/
/*    background: transparent url('../src/image/ЩІТКА (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*}*/

/*.img2{*/
/*    background: transparent url('../src/image/ЩІТКА.jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img2_2{*/
/*    background: transparent url('../src/image/ЩІТКА.webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*}*/

/*.img3{*/
/*    background: transparent url('../src/image/0_02_0a_4441a50b7f71d56d8223346d30daca1e623cd86a3a5c0234e5ed10c4dce9c140.jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img3_2{*/
/*    background: transparent url('../src/image/0_02_0a_4441a50b7f71d56d8223346d30daca1e623cd86a3a5c0234e5ed10c4dce9c140.webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/

/*}*/

/*.img4{*/
/*    background: transparent url('../src/image/4 RAV 4 (нічого).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img4_2{*/
/*    background: transparent url('../src/image/4 RAV 4 (нічого).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*}*/

/*.img5{*/
/*    background: transparent url('../src/image/244538142_1063353097750478_5474927411768411711_n (1).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img5_2{*/
/*    background: transparent url('../src/image/244538142_1063353097750478_5474927411768411711_n (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    border-radius: 10px;z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/

/*}*/

/*.img6{*/
/*    background: transparent url('../src/image/2d6a01e6d774667f7590e83a7f816c9721103a54b38bc5f36237e931555e4ded (1).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img6_2{*/
/*    background: transparent url('../src/image/2d6a01e6d774667f7590e83a7f816c9721103a54b38bc5f36237e931555e4ded (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*}*/

/*.img7{*/
/*    background: transparent url('../src/image/термінал2 (1).webp') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img7_2{*/
/*    background: transparent url('../src/image/термінал2 (1).jpg') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/

/*.img8{*/
/*    background: transparent url('../src/image/стрий 1 (1).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img8_2{*/
/*    background: transparent url('../src/image/стрий 1 (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/

/*.img9{*/
/*    background: transparent url('../src/image/світлофор (1).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img9_2{*/
/*    background: transparent url('../src/image/світлофор (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/

/*.img10{*/
/*    background: transparent url('../src/image/ОСМОС 112 (1).webp') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img10_2{*/
/*    background: transparent url('../src/image/ОСМОС 112 (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/

/*.img11{*/
/*    background: transparent url('../src/image/ОСМОС ВОДА (1).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img11_2{*/
/*    background: transparent url('../src/image/ОСМОС ВОДА (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/

/*.img12{*/
/*    background: transparent url('../src/image/IMG_2671 (1).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img12_2{*/
/*    background: transparent url('../src/image/IMG_2671 (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/

/*.img13{*/
/*    background: transparent url('../src/image/IMG_0065 (2).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img13_2{*/
/*    background: transparent url('../src/image/IMG_0065 (2).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/

/*.img14{*/
/*    background: transparent url('../src/image/IMG_0332.jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img14_2{*/
/*    background: transparent url('../src/image/IMG_0332.webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/

/*.img15{*/
/*    background: transparent url('../src/image/IMG_0707 (1).jpg') 0% 0% no-repeat padding-box;*/
/*}*/

/*.img15_2{*/
/*    background: transparent url('../src/image/IMG_0707 (1).webp') 0% 0% padding-box;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 2;*/
/*    width: 70%;*/
/*    height: 70%;*/
/*    background-size: cover;*/
/*    border-radius: 10px;*/
/*}*/